# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Environnements virtuels
.venv/
env/
venv/
ENV/

# Jupyter / notebooks
.ipynb_checkpoints/

# Logs
*.log

# VS Code

# Azure Functions artifacts
.local.settings.json
.azure/
